<app-car [car]="car" (saveEmitter)="saveCar()"></app-car>

<div class="container bg-body-tertiary px-4 rounded">
    <h2>Carros Cadastrados:</h2>

    <hr>

    <table class="table">
        <thead>
            <tr>
                <th class="bg-body-tertiary">#</th>
                <th class="bg-body-tertiary">Nome</th>
                <th class="bg-body-tertiary">Montadora</th>
                <th class="bg-body-tertiary">Preço</th>
                <th class="bg-body-tertiary">Ano</th>
                <th class="bg-body-tertiary text-end">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars">
                <td class="bg-body-tertiary">{{car.id}}</td>
                <td class="bg-body-tertiary">{{car.name}}</td>
                <td class="bg-body-tertiary">{{car.automaker}}</td>
                <td class="bg-body-tertiary">{{car.price}}</td>
                <td class="bg-body-tertiary">{{car.year}}</td>
                <td class="bg-body-tertiary text-end">
                    <button class="btn btn-success me-2">Alterar</button>
                    <button class="btn btn-danger">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>