<app-car></app-car>

<div class="container bg-body-tertiary px-4 rounded">
    <h2>Carros Cadastrados:</h2>

    <hr>

    <table class="table">
        <thead>
            <tr>
                <th class="bg-body-tertiary">#</th>
                <th class="bg-body-tertiary">Nome</th>
                <th class="bg-body-tertiary">Montadora</th>
                <th class="bg-body-tertiary">Preço</th>
                <th class="bg-body-tertiary">Ano</th>
                <th class="bg-body-tertiary text-end">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-body-tertiary">1</td>
                <td class="bg-body-tertiary">Palio</td>
                <td class="bg-body-tertiary">Fiat</td>
                <td class="bg-body-tertiary">35000</td>
                <td class="bg-body-tertiary">2000</td>
                <td class="bg-body-tertiary text-end">
                    <button class="btn btn-success me-2">Alterar</button>
                    <button class="btn btn-danger">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>